<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <base href="../../">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/vue.js"></script>
    <!-- import JavaScript -->
    <script src="js/index.js"></script>
    <script src="js/util.js"></script>
    <script src="js/echarts.js"></script>
    <script src="js/echartsUtil.js"></script>

    <script src="js/jquery-1.11.0.js"></script>
    <title>KUAI接口管理</title>
    <style>
        .el-form-item{margin-bottom: 5px}
        .grid-content { border-radius: 4px; min-height: 36px; }
        .el-select .el-input { width: 80px; }
    </style>
</head>
<body>
<div id="app">

    <div>

        <el-row :gutter="20">
            <el-col :span="2"><div class="grid-content bg-purple"></div></el-col>
            <el-col :span="20">
                <div class="grid-content bg-purple">
                <el-main>
                    <el-row :gutter="5">
                        <el-col :span="6"  v-for="v in whereKeys">
                            <el-input :placeholder="v" v-model="wheres[v].value" class="input-with-select">
                                <el-select v-model="wheres[v].opt" slot="prepend" placeholder="操作">
                                    <el-option  v-for="value in selects.optList" :key="value" :label="value" :value="value"></el-option>
                                </el-select>
                            </el-input>
                        </el-col>
                        <el-col :span="6">
                            <el-button  @click="findList()">查询</el-button>
                        </el-col>
                    </el-row>

                    <el-table :data="tableData" v-if="showview == 'table'">
                        <el-table-column  v-for="v in columnLabel"
                                          :prop="v"
                                          :label="v"  >
                        </el-table-column>
                    </el-table>
                    <div id="zxt" v-if="showview == 'zxt'" style="width: 100%;height: 400px;"></div>
                </el-main>
                </div>
            </el-col>
            <el-col :span="2"><div class="grid-content bg-purple"></div></el-col>
        </el-row>
        <el-row>

        </el-row>

    </div>

</div>

</body>
<!-- import Vue before Element -->
<script>

    function sendHttpPost(url,data,callback){
        $.ajax({
            url: url,
            headers: { "Content-Type": "application/json" },
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify(data),
            success: function (d) {
                if(callback!=null) callback(d);
            },
            error: function (e) {console.log(e)}
        });
    }

</script>

<script>
    var app = new Vue({
        el: '#app',
        data: function() {
            return {
                urlParam:GetQueryMap(),
                showview: "table",
                sending:false,
                tableConf:{},
                columnLabel:[],
                tableData:[],
                whereKeys:[],
                wheres:{"":{"opt":"=","value":""}},
                selects:{
                    optList:["=",">",">=","<","<=","!=","<>","in","like"],
                }
            }
        },
        methods:{

            findIFConfigByAlias(alias){
                var that = this;
                $.ajax({
                    url: 'interface/findIFConfigList',
                    headers: { "Content-Type": "application/json" },
                    type: 'POST',
                    sync: true,
                    dataType: 'json',
                    data: JSON.stringify({"alias":alias}),
                    success: function (d) {
                        if(d.length>0){
                            var dd = d[0];
                            that.tableConf = dd;
                            var whereKeys =dd.wheres.split(",");
                            var wheres = {};
                            for(var k in whereKeys){
                                wheres[whereKeys[k]] = {"opt":"=","value":""}
                            }
                            that.wheres = wheres;
                            that.whereKeys = whereKeys;
                        }
                    },
                    error: function (e) {console.log(e)}
                });

            },
            getCurdHandle(){
                var that = this;
                $.ajax({
                    url: 'interface/getCurdHandle',
                    headers: { "Content-Type": "application/json" },
                    type: 'POST',
                    dataType: 'json',
                    data: JSON.stringify({}),
                    success: function (d) {
                        that.selects.handleConf = d.data;
                    },
                    error: function (e) {console.log(e)}
                });

            },httpPostJson(alias,method,data,callback){
                var that = this;
                $.ajax({
                    url: "middle/"+alias+"/"+method,
                    headers: { "Content-Type": "application/json" },
                    type: 'POST',
                    dataType: 'json',
                    data: data,
                    success: function (res) {
                        if(callback!=null)callback(res);
                        //that.tsData.res = JSON.stringify(res,null, 4)
                    },
                    error: function (e) {
                        that.$message("接口请求异常！")
                        console.log(e);
                    }
                });
            },findList(){
                var wheres = this.wheres;
                var param ={};
                for(var k in wheres){
                    var d = wheres[k];
                    var value = d.value;
                    if(value !=""&&value!=""){
                        var opt = d.opt;
                        param[k] = {[opt]:value}
                    }
                }
                this.findAliasList(param);
                console.log("点击查询"+JSON.stringify(param))
            },findAliasList(data){
                var that = this;
                var alias = this.urlParam.alias;
                this.httpPostJson(alias,"getList",JSON.stringify(data),function(d){
                    if(d.code == '0000'){
                        var list = d.list;
                        that.tableData = list;
                        var columnLabel = [];
                        if(list.length>0){
                            var dd = list[0];
                            for(var k in dd){
                                columnLabel.push(k);
                            }
                        }
                        that.columnLabel = columnLabel;
                        showZxt("zxt",that.urlParam.xAxisKey,that.tableData);
                    }else{
                        that.$message(d.message);
                    }

                })
            }
        },
        created(){
            var that = this;
            var alias = this.urlParam.alias;
            var showview = this.urlParam.showview;
            if(showview!=null) this.showview = showview;
            if(alias!=null){
                this.findIFConfigByAlias(alias);
                that.findAliasList({})
            }

        }
    })
</script>
</html>
